<% if user_signed_in? %>
  <% if post.liked_by?(current_user) %>
    <p>いいね！
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <span class="heart">♥</span>
      <% end %>
      <%= post.likes.count %>件
    </p>
  <% else %>
    <p>いいね！
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        <span class="heart">♡</span>
      <% end %>
      <%= post.likes.count %>件
    </p>
  <% end %>
<% else %>
    <p>いいね！
      <%= link_to new_user_session_path do %>
        <span class="heart">♡</span>
      <% end %>
      <%= post.likes.count %>件
    </p>
<% end %>