<!--%= render partial: "posts/post", collection: @like_posts %>-->

<div class="post-area">
    <div class="inner">
      <h1 class="post-area-title">いいねした投稿</h1>
      <div class="post-list">
        <% @like_posts.each do |post| %>
          <div class="post-box">
            <% if post.new_arrival? == true %>
              <%= render 'new_label' %>
            <% end %>
            <div class="background-image">
              <%= link_to image_tag(post.images[0].to_s, size: '300x200'), post_path(post.id) %>
            </div>
            <p class="main-title">「<%= post.main_title %>」</p>
            <p class="post-place"><%= post.location %></p>
            <% if post.date %>
              <p class="post-date"><%= post.date.strftime('%Y年%m月%d日') %></p>
            <% end %>
            <p class="user-name">投稿者：<%= link_to post.user.name, user_path(post.user) %>さん</p>
            <div class="post-like" id="like_buttons_<%= post.id %>">
              <%= render "likes/index_like", post: post %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>