<div class="post-form-title-box">
  <div class="post-form-title">【管理者用投稿編集フォーム】</div>
  <div class="post-form-sub-title">写真やコメントを付けてキャンプの記録を残しておこう！</div>
</div>

<div class="post-form-area">
  <div class="post-form-inner">
    <%= form_with model: @post, local:true do |f| %>
      <div class="main-title-form">
        <h4>タイトル（必須）</h4>
        <%= f.text_field :main_title %>
      </div>
      <div class="date-form">
        <h4>行った日（必須）</h4>
        <%= f.date_field :date %>
      </div>
      <div class="location-form">
        <h4>場所（必須）</h4>
        <h6>例) 〇〇県 □□キャンプ場</h6>
        <%= f.text_field :location %>
      </div>
      <div class="sub-title-form">
        <h4>サブタイトル</h4>
        <%= f.text_field :sub_title %>
      </div>
      <div class="image-form">
        <h4>写真（10枚まで選択可能）</h4>
        <%= f.file_field :images, multiple: true %>
      </div>
      <div class="body-form">
        <h4>内容</h4>
        <%= f.text_area :body, :size=>"50x10" %>
      </div>
      <div class="submit-button">
        <%= f.submit '編集完了' %>
      </div>
    <% end %>
  </div>
</div>